@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box ;
}
body{
    font-family: "Roboto", sans-serif;
    display:flex;
}


/* header start */
.material-icons{
    color:rgb(40,37,37);
}

.header{
    display:flex;
    justify-content: space-between;
    align-items:center;
    height:70px;
    padding:15px;
    width:100%;
}

.header-left{
    display:flex;
    justify-content: flex-start;
    align-items: center;
}

.header-search{
    display:flex;
    padding:5px;
    width:500px;
}

.header-search form{
    display:flex;
    width:100%;
    border: 1px solid black;
    border-radius:25px;
    overflow:hidden;    
    background:white;
}


.header-search button{
    border:none;
    border-left: 1px solid black;
    box-sizing: border-box;
    padding:5px;
    display:flex;
    justify-content: center;
    align-items: center;
}


.header-icons{
    display:flex;
    justify-content:flex-end;
    gap:10px;
}

.header span{
    cursor:pointer;
}   

.header-search input{
    flex:1;
    border:none;
    padding-left:10px;
    
}

.search-mic button{
    width:35px;
    height:35px;
    border-radius:50%;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-left:10px;
    background-color:#ebe8e8;
    border:1px solid #ddd;
}

